.highscore-table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.highscore-table caption {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color:rgb(204, 139, 59)
}

.highscore-table th {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.highscore-table th,
.highscore-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
    color: rgb(169, 124, 57);
}


.highscore-table tbody tr {
    transition: background-color 0.3s ease;
}

.highscore-table tbody tr:hover {
    background-color: #faf5e2;
}

.highscore-table tbody tr:first-child td {
    background-color: #fef5e7;
    font-weight: 600;
}